:root {
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /*title font*/
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
}

h2 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    /* margin-bottom: 0.75rem; */
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
h2 {
    font-size: 2rem;
}
@media screen and (min-width: 800px) {
    h2 {
        font-size: 2.5rem;
    }
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.title {
    text-align: center;
    margin-bottom: 4rem;
}
.title h2 {
    font-weight: bold;
    text-align: center;
    font-family: Helvetica;
}
.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
}
